:root {
    --advantage-color: #ffffff;
    --text-color: #212121;
    --btn-color: #2196f3;
    --header-footer-color: #2f303a;
    --text-color-light: #757575;
    --text-logo: #000000;
    --btn-color-dark: #188ce8;
    --color-section: #f5f4fa;
    --address-color: rgba(255, 255, 255, 0.6);
    --list-app-icons: #afb1b8;
    --hero-img: #c4c4c4;
    --bg-gradient:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
  }
