.customers-ul {
  display: flex;
  justify-content: center;
  gap: 30px;

}
.title-center-customers{
  justify-content: space-between;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // @include mobile{
  //   justify-content: ;
  // }
 
  
}

.customers-list {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 80px;

 @include mobile{
  width: 210px;
  height: 92px;
 }
  
  
  @include tablet{
    width: 226px;
  height: 92px;

  }
@include desktop
 { width: 170px;
  height: 92px;
 }

 
  border: 1px solid var(--list-app-icons);
  border-radius: 4px;
  color: var(--list-app-icons);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--btn-color);
    color: var(--btn-color);
  }
}

.customers-list-svg {
  fill: currentColor;
}
