.title-section-background {
  background-color: var(--color-section);
}

.title-namefirst {
  background-color: var(--advantage-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;

  @media screen and (min-width:768px) 
  {width: calc((100% - 30px) / 2); 
    
  }
  @media screen and (min-width:1200px)
 { width: calc((100% - 90px) / 4); }

}

.subjunctive {
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.title-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  margin-bottom: 16px;
}
.list-app-ul {
  display: flex;
   justify-content: center;
  gap: 10px;
  
}

.list-app {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--list-app-icons);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--btn-color);
    color: var(--advantage-color);
  }
}

.list-app-icons {
  fill: currentColor;
}

.title-center {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
 
}
